<div class="home"></div>

<section data-ng-controller="HomeController" ng-hide="user">

  <div class="container">
    <div class="row welcome-container">

        <div class="col-md-6 col-md-offset-3 logo-container">
          <img class="img-responsive center-block logo" src="https://res.cloudinary.com/mezae/image/upload/v1433431601/glogo_j8sfih.png">
        </div>

        <div class="col-md-6 col-md-offset-3">
          <h4 class="welcome-mat ">Alumni Council Elections</h4>
          <p><strong>Prep’s Alumni Association will be led by a hybrid leadership team of elected and Board-nominated alums. It is our hope that the establishment of this Alumni Association will provide a vehicle for greater engagement of alumni with both Prep and one another for decades to come. For more information, visit <a href="http://www.prepforprep.org/alumniassociation">www.prepforprep.org/alumniassociation</a>.</strong></p>
          <p class="lead">Log in to cast your anonymous, secure vote.</p>
        </div>
        <div class="col-md-2 col-md-offset-5 col-sm-2 col-sm-offset-5">
          <a href="/#!/login" class="ebtn btn-login btn-block">Login</a>
        </div>

    </div>
  </div>

</section>


