.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

.content {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.ng-invalid.ng-dirty {
	border-color: #FA787E;
}

.letter-form.new input.dependent.ng-pristine.ng-touched {
  border-color: #f0ad4e;
}

.letter-form.new textarea.dependent.ng-pristine.ng-touched {
  border-color: #f0ad4e;
}

.navbar {
  background-color: white;
  margin-bottom: 2px;
  border-color: #e5e5e5;
}

.navbar-toggle {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 15px 15px 15px 25px;
  }
}

h2 {
  margin-top: 5px;
}

.nav-tabs {
  border-bottom: 0;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  border-bottom: 2px solid white;
}

.ttseparator {
  border-bottom: 1px solid #ddd;
  padding-left: 0;
  padding-right: 0;
}

.btn-lg, .btn-group-lg>.btn {
  padding: 8px 5px;
}

.tabs {
  padding-left: 0;
}

.icons {
  padding-right: 0;
}

/*tables*/
.table-stripes>tbody>tr:nth-child(odd) {
  background-color: white;
}

.table tbody>tr>td{
  vertical-align: middle;
}

thead {
  background-color: #9C2742;
  color: white;
}

@media screen and (max-width: 320px) {
  h2 {
    font-size: 20px;
  }

  .btn-lg, .btn-group-lg>.btn {
    padding: 2px 5px;
  }
  .nav>li>a {
    position: relative;
    display: block;
    padding: 8px 8px;
  }
  .tabs {
    padding-left: 0;
    padding-right: 0;
  }

  .icons {
    padding-left: 0;
    padding-right: 0;
  }
}

footer {
  font-size: 0.8em;
  text-align: center;
  color: #d1d1d1;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #e5e5e5;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  background: none repeat scroll 0 0 white;
}

.profile {
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.profile:focus {
  border-top: white;
  box-shadow: none;
}

@media (max-width: 768px) {
  select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] { font-size: 16px; }
}

body {
  background-color: #F3F3F3
}

@media print {
body {-webkit-print-color-adjust: exact;}
}

.ready {
  background-color: #7b39c7;

}

.review {
  background-color: #4d92cd;
}

.complete {
   background-color: #85c739;
}

.started {
  background-color: #cd884d;
}

.empty {
  background-color: #cd4d52;
}

.btn-link {
  color: #6290C3;
}