.modal-backdrop {
  bottom: 0;
}

.closeModal {
  position: absolute;
  top: -1em;
  right: -1em;
  border-color: #5C5C5C;
  border-radius: 50%;
  padding: 6px 9px;
  z-index: 1000;
}

.closeModal:hover {
	background-color: white;
	border-color: #5C5C5C;
}

@media screen and (min-width: 321px) {
  .modal .candidate-modal{
      height: 560px;
      overflow-y: auto;
  }
}

.modal-footer.pages {
  text-align: center;
  padding: 0;
}
