/*command center*/
.vcenter {
  line-height: 50px;
  vertical-align: middle;
  cursor: pointer;
}

.btn {
  background-color: white;
}

a.btn-ready, a.btn-review, a.btn-complete, a.btn-started, a.btn-empty {
	border: none;
	box-shadow: none;
}

.agency-btn {
  padding: 4px 8px;
}

.agency-mid {
  padding: 4px 15px;
}

.btn-upload {
  color: white;
  border-color: #9C2742;
  background-color: #9C2742;
}

.btn-cancel {
  color: white;
  border-color: #d96983;
  background-color: #d96983;
}

.btn-save {
  color: white;
  border-color: #69d987;
  background-color: #69d987;
}

.btn-upload:hover, .btn-upload:focus, .btn-cancel:hover, .btn-cancel:focus, .btn-save:hover, .btn-save:focus {
  background-color: white;
}

.btn-link:hover, .btn-link:focus {
    text-decoration: none;
}

.drop-box {
    background: #f5f6fc;
    border: 2px dashed #4d92cd;
    width: 100%;
    height: 75.5vh;
    text-align: center;
    padding: 32vh 0;
}

.dragover {
    border: 2px dashed #85c739;
    background: #f6fcf5;
}

.dragover-err {
  border: 2px dashed #cd4d52;
  background: #fcf5f6;
}

.page-wrap {
  max-width: 100%; 
  margin: 0 auto; 
  position: relative; 
}

.addbar {
  position: fixed;
  width: 93%;
  right: 4%;
  overflow: hidden;
}

.laddbar {
  top: 108px;
}

.saddbar {
  top: 151px;
}

@media screen and (max-width: 992px) {
  .page-wrap {
    position: static;
  }

  .addbar {
    position: static;
    width: 100%;
  }
}

.cut-name {
  text-overflow: ellipsis;
  overflow : hidden;
  white-space: nowrap;
  line-height: 1.2em;
}

.photo-container {
  position: relative;
}

.my-vote {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #69d987;
  background-color: white;
}

.candidate-photo {
  height: 155px;
  margin: auto;
}

.capcha {
  margin: auto;
}