
<section class="page-wrap" data-ng-controller="CommandController" data-ng-init="find()">

	<div class="row">

		<div class="col-md-9 col-sm-9 col-xs-8">
			<h2>Candidates</h2>
		</div>

		<div ng-show="user.role !== 'user'">
			<div class="col-md-3 col-sm-3 col-xs-4 text-right hidden-print" ng-show="partners.length > 0 && !needToUpdate">
				<button class="btn btn-lg btn-link" ng-click="needToUpdate = !needToUpdate">
					<i class="fa fa-user-plus"></i>
				</button>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-4 text-right hidden-print" ng-show="needToUpdate">
				<button class="btn btn-lg btn-link" ng-click="needToUpdate = !needToUpdate">
					<i class="fa fa-group"></i>
				</button>
			</div>
		</div>
		<div class="col-md-3 col-sm-3 col-xs-5 text-right hidden-print" ng-show="user.role === 'user'">
			<button class="btn btn-lg btn-link" ng-click="reviewBallot()">
				<i class="fa fa-check-square-o"></i> My Votes
			</button>
		</div>

	</div>

	<div class="row">

	<div class="col-md-12 col-sm-12 col-xs-12">

		<div class="row">
			<div class="col-md-12">

				<p>Select up to 6 candidates</p>
				<alert ng-show="alert.active" type="{{alert.type}}" ng-model="alert" close="alert.active = false">
					{{alert.msg}}
				</alert>
			</div>
		</div>

		<!-- File Dropzone -->
		<div class="row">
			<div class="col-md-12" ng-show="partners.length === 0 || needToUpdate">
				<div ngf-select ngf-drop class="drop-box" ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" ngf-change="handleFileSelect($files)" ngf-accept="'application/vnd.ms-excel,text/csv'" accept="application/vnd.ms-excel,text/csv">
					<p class="lead">drop csv file here or <br/>click to browse<p>
			    </div>
		    </div>
		</div>

		<div class="row" ng-show="!needToUpdate">
			<div ng-repeat="cp in partners">
			  <div class="col-xs-6 col-sm-4 col-md-2">
			    <div class="thumbnail">
			    	<div class="photo-container candidate-photo">
			      		<img ng-src="{{cp.picture}}" class="img-responsive candidate-photo" alt="{{cp.name}}">
			      	</div>
					<div class="caption">
						<h4 class="text-center cut-name">{{cp.name}}</h4>
						<p><buttton type="button" class="btn btn-upload center-block" role="button" ng-click="showCandidate($index)">View Profile</button></p>
					</div>
			    </div>
			  </div>
			</div>
		</div>
	</div>

  </div>

</section>