<div data-ng-controller="SummaryController">

	<div class="row">
		<div class="col-md-12">
			<ol class="breadcrumb">
				<li><a href="/#!/ballot"><i class="glyphicon glyphicon-home"></i></a></li>
				<li class="active">Tally</li>
			</ol>
		</div>
	</div>

	<div class="row">
		<div class="col-md-10 col-md-offset-1">

			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<div class="thumbnail statnail">
						<div class="stattitle">
							Votes per Ballot
						</div>
						<div class="statnum">
							{{stats.votes_per_ballot}}
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<div class="thumbnail statnail">
						<div class="stattitle">
							Ballots Submitted
						</div>
						<div class="statnum">
							{{stats.total_ballots}}
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<div class="thumbnail statnail">
						<div class="stattitle">
							Participation Rate
						</div>
						<div class="statnum">
							{{stats.participation}}%
						</div>
					</div>
				</div>
			</div>
			<div class="table-responsive">
				<table class="table table-stripes">
					<thead>
						<tr>
							<th>Candidate</th>
							<th class="text-center">Votes</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="member in tally | orderBy: '-count'">
							<td>{{member.candidateID}}</td><td class="text-center">{{member.count}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>